*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::after,::before{
    box-sizing: inherit;
}

html, body {
    overflow-x: hidden;
  }
  body {
    position: relative
  }

img{
    display: block;
    width: 100%;
    
    
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 36px 26px;
    align-items: center;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: hsl(230, 29%, 20%);
    text-transform: uppercase;
}

.nav_links{
  display: flex;
  align-items: center;
  gap: 24px;
  
}



.close{
    display: none;
}

.dot{
    width: 6px;
    height: 6px;
    background-color: hsl(231, 7%, 65%);
    border-radius: 50px;
}

.btn{
    color: hsl(231, 7%, 65%);
}

.links{
    display: none;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.links:hover{
    text-decoration: underline;
}
.module{
    position: absolute;
    top: 100px;
    left: 25px;
    background-color: rgb(255, 255, 255);
    width: 90%;
    padding: 20px 0px;
    
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 28px;
    border-radius: 4px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.103), 0 6px 12px rgba(0, 0, 0, 0.116);
   display: none;
}

hr{
    position: relative;
    left: -106px;
    width: 426%;
    border: 1px solid rgba(128, 128, 128, 0.116);
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0px 26px;
    gap: 56px;

}

.text{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.subheaing{
    display: flex;
    gap: 12px;
    font-size: 14px;
    align-items: center;
}

.new{
    padding: 4px 12px;
    border-radius: 50px;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    background-color: hsl(230, 29%, 20%);
    font-family: 'Barlow', sans-serif;
}

.dash{
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 4px;
    color: hsl(230, 11%, 40%);
    font-weight: 400;
}


.heading h1{
    font-size: 42px;
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: hsl(230, 29%, 20%);
}

.heading p{
    font-size: 20px;
    font-family: 'Barlow ', sans-serif;
    padding-top: 16px;
    line-height: 28px;
    color: hsl(230, 11%, 40%);
}
.btns{
    display: flex;
    align-items: center;
    gap: 12px;
}
.cta{
    padding: 12px 18px;
    border: none;
    background-color:hsl(0, 100%, 68%) ;
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.5px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.b{
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    color: hsl(230, 11%, 40%);
    font-weight: 400;
    background-color: transparent;
    border: none;
    padding: 12px 0px;
}


.illustration-devices{
    width: 148%;
    
}

.cta:hover{
    background-color: hsl(0, 100%, 81%);
}

@media only screen and (min-width: 1000px) {
    nav{
        padding: 64px 165px;
    }

    .menu{
        display: none;

    }

    .links{
        display: flex;
    }

    .hero{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        padding: 80px 165px;
        margin: 0px;
    }

    .new{
        font-size: 16px;
    }

    .dash{
        font-size: 15px;
    }

    .heading h1{
        font-size: 64px;
    }
    .heading p{
        padding-right: 200px;
        
    }
    .btns{
        padding-top: 26px;
    }
    .illustration-devices {
        width: 180%;
    }
}
